#city {
    flex: 50%;
    width: 150px;
}

#state {
    flex: 15%;
    width: 30px;
}

#zip {
    flex: 30%;
    width: 45px;
}

#name {
    width: 310px;
}

#contact {
    width: 400px
}

#venueAddress {
    /* width: 400px */
}

#phone {
    width: 190px
}

#cell {
    width: 190px
}

#website {
    width: 400px
}

#capacity {
    width: 50px
}

#merch_sales {
    width: 90px
}

#merch_fee {
    width: 100px
}

#hall_fee {
    width: 50px
}

#email {
    width: 400px
}
