#city {
    flex: 50%;
    width: 50%;
}

#state {
    flex: 15%;
    width: 15%;
}

#zip {
    flex: 30%;
    width: 30%;
}

#name {
    width: 400px;
}

#contact {
    width: 400px
}

#address {
    width: 400px
}

#phone {
    width: 190px
}

#cell {
    width: 190px
}

#website {
    width: 400px
}

#capacity {
    width: 50px
}

#merch_sales {
    width: 100px
}

#merch_fee {
    width: 400px
}

#hall_fee {
    width: 50px
}

#email {
    width: 400px
}
