#city {
    flex: 50%;
    width: 150px;
}

#state {
    flex: 15%;
    width: 30px;
}

#zip {
    flex: 30%;
    width: 45px;
}

#venueName {
    width: 390px;
}

#contact {
    width: 390px
}

#venueAddress {
    width: 390px
}

#phone {
    width: 190px
}

#cell {
    width: 190px
}

.phone {
    width: 170px !important
}

#website {
    width: 390px
}

#capacity {
    width: 50px
}

#merch_sales {
    width: 80px
}

#merch_fee {
    width: 100px
}

#hall_fee {
    width: 50px
}

#email {
    width: 390px
}


