#artist {
    height: 50px;
    min-width: 600px;
    margin: 7px;
    font-size: x-large;
}

#artist_form {
    padding-bottom: 0px;
}

#date {
    height: 20px;
    margin: 7px;
}

#date_form {
    padding-bottom: 0px;
}

#status {
    height: 40%;
    margin: 7px;
}

#status_form {
    padding: 0px;

}

#showFormHead{
    margin: 0px 40px;
    width: 1055px;
}