#terms {
    width: 400px
}

#checks {
    display: flex;
    flex-wrap: wrap;
}

#support {
    width: 94%;
}

#artist_form {
    width: 85%;
}

#load_in {
    min-width: 110px;
}

#sound_check {
    min-width: 110px;
}

#door_time {
    min-width: 110px;
}

#show_time {
    min-width: 110px;
}

#show_length {
    width: 110px;
}

.column1 {
    width: 110px;
}

